<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Server Programming</title>
</head>
<body>
	<p>
	<h1>Books</h1>
	<div th:if="${books} != null">
		<table>
			<tbody>
				<tr>
					<td><b>Author</b></td>
					<td><b>Title</b></td>
					<td><b>ISBN</b></td>
					<td><b>Year</b></td>
				</tr>
				<tr th:each="book : ${books}">
					<td th:text="${book.author}"></td>
					<td th:text="${book.title}"></td>
					<td th:text="${book.isbn}"></td>
					<td th:text="${book.year}"></td>
					<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
					<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="/addbook">Add Book</a>  
	</p>

</body>
</html>