<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <title>Server Programming</title>
</head>
<body>
<h1>Edit</h1>
<div>
    <form action="#" method="post" th:action="@{../thymeleafupdate}" th:object="${order}">

        <input id="id" th:field="*{id}" type="hidden"/>
        <input id="version" th:field="*{version}" type="hidden"/>
        <input id="status" th:field="*{status}" type="hidden"/>
        <input id="orderedAmpuleBottleId" th:field="*{orderedAmpuleBottleId}" type="hidden"/>
        <input id="orderNumber" th:field="*{orderNumber}" type="hidden"/>
        <input id="injections" th:field="*{injections}" type="hidden"/>
        <input id="arrived" th:field="*{arrived}" type="hidden"/>
        <!--<input type="hidden" id="vaccinations" th:field="*{vaccinations}" />-->

        <label for="author"><b>Vastuuhenkilö</b></label>
        <input id="author" th:field="*{responsiblePerson}" type="text"/>

        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="title"><b>Sairaanhoitopiiri</b></label>
        <input id="title" th:field="*{healthCareDistrict}" type="text"/>

        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="vaccine"><b>Rokotteen nimi</b></label>
        <input id="vaccine" th:field="*{vaccine}" type="text"/>

        <label for="vaccinationlist">Ampullista rokotettu ajankohtina</label>
        <select id="vaccinationlist" th:field="*{vaccinations}" class="form-control">

            <option th:each="vaccination: ${vaccinations}"
                th:if="${order.orderedAmpuleBottleId} == ${vaccination.sourceBottle}"
                th:value="${vaccination.id}"
                th:text="${vaccination.vaccinationDate}">
            </option>


        </select>

        <div style="clear: both; display: block; height: 10px;"></div>

        <input type="submit" value="Tallenna"></input>
    </form>

</div>
</body>
</html>